.DS_Store
node_modules
*.log
dist 

tmp
.devcontainer
playwright-report
test-results
TODO.md
full_code.py
project-code_dump.txt
# Environment
.env
.env.*

# Dependencies
package-lock.json

# Environment
!.env.example